body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0;
}
canvas {
   border: 1px solid #000;
   display: block;
   margin: 20px auto;
}

#menu, #gameOver {
   display: none;
   text-align: center;
   margin-top: 100px;
}

button {
   font-size: 18px;
   margin: 10px;
   padding: 10px 20px;
   cursor: pointer;
}
